html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(193, 193, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



main {

    flex: 1;

}

h1, h2, h3 {
    font-weight: 600;
    color: #333;
}


.navbar {
    box-shadow: 0, 2px, 4px, rgb(0, 0, 0.1);
}

.navbar .nav-link:hover {
    text-decoration: underline;


}


.card {
    box-shadow: 0 2px 4px rgb(0, 0, 0.5);
    border-radius: 8px;
}



.table thead th {

    font-weight: 500;
    color: #333;
}



footer {
    margin-top: 2px;
    position: fixed;
    padding: 2% 0;
}