html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFAD0F;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}




main {

    flex: 1;

}

h1, h2, h3 {
    
    font-weight: 800;
  
    color: #333;
}


.navbar {
    box-shadow: 0, 2px, 4px, rgb(0, 0, 0.1);
    color: #860608;
}

.navbar .nav-link:hover {
    text-decoration: underline;


}


.card {
    box-shadow: 0 2px 4px rgb(0, 0, 0.5);
    border-radius: 8px;
}



.table thead th {

    font-weight: 500;
    color: #333;
}


.pagination_personal .page-link{

    color: #fff;
    background-color: #2A4591;
    border-color: #DFAD0F;
}

.pagination_personal .page-link:hover{
    
    color: #fff;
    background-color: #567ade;
    border-color: #DFAD0F;
    
}

.pagination_personal .page-link.active .page-link {
    
    color: #fff;
    background-color: #567ade;
    border-color: #DFAD0F;
    
}

.footer_personal {
    margin-top: 50px;
    height: 136px;
    width: 100%;
}


.footer1_personal {
    margin-top: 50px;
    height: 117px;
    width: 100%;
}


/*wrapper per selection destinazione*/
.wrapper{
    width: auto;
    height: auto;
    
}