html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcd587;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}




main {

    flex: 1;

}

h1, h2, h3 {
    
    font-weight: 800;
  
    color: #333;
}


.navbar {
    box-shadow: 0, 2px, 4px, rgb(0, 0, 0.1);
    color: #860608;
}

.navbar .nav-link:hover {
    text-decoration: underline;


}




.card {
    box-shadow: 0 2px 4px rgb(0, 0, 0.5);
    border-radius: 8px;
}



.table thead th {

    font-weight: 500;
    color: #333;
}


tr { 
    align-items: center;
}

.pagination_personal .page-link{

    color: #fff;
    background-color: #2A4591;
    border-color: #DFAD0F;
}

.pagination_personal .page-link:hover{
    
    color: #fff;
    background-color: #567ade;
    border-color: #DFAD0F;
    
}

.pagination_personal .page-link.active .page-link {
    
    color: #fff;
    background-color: #567ade;
    border-color: #DFAD0F;
    
}

.footer_personal {
    margin-top: 50px;
    height: 136px;
    width: 100%;
}


.footer1_personal {
    margin-top: 50px;
    height: 117px;
    width: 100%;
}


/* MEDIA QUERY PER REGOLE SU BREAKPOINT */
@media (max-width: 992px) {
    .table-responsive {
        overflow-x: auto;
    }
}  



/* elementi hamburgher menu a destra*/
.item_right {

    margin-left: auto;
}



.table td.truncate {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}